<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.com.adm.system.dao.SystemDAO">
	
	<!-- 메뉴 가져오기 -->
	<select id="selectMenuList" parameterType="egovframework.com.adm.system.vo.Menu" resultType="egovframework.com.adm.system.vo.Menu">
		SELECT 
				T1.MENU_NO,
				T1.MENU_URL,
				T1.P_MENU_CD,
				T1.MENU_CD,
				T1.MENU_NAME,
				T1.MENU_URL,
				T1.MENU_LEVEL,
				T1.MODULE_TYPE,
				T1.LEARNING_TYPE,
				T1.USE_YN,
				T1.MENU_ORDER,
				T1.LANGUAGE_CODE,
				(SELECT MAX(MODULE_ID) FROM XBT_BASELINE_EDU_DATE WHERE MENU_CD = T1.MENU_CD) AS MODULE_ID
		FROM XBT_STU_MENU T1 
		WHERE T1.LANGUAGE_CODE =  #{languageCode}
	</select>	
	
	<!-- 메뉴 상세 -->
	<select id="selectMenu" parameterType="egovframework.com.adm.system.vo.Menu" resultType="egovframework.com.adm.system.vo.Menu">
		SELECT 
				T1.MENU_NO,
				T1.MENU_URL,
				T1.P_MENU_CD,
				T1.MENU_CD,
				T1.MENU_NAME,
				T1.MENU_URL,
				T1.MENU_LEVEL,
				T1.MODULE_TYPE,
				T1.LEARNING_TYPE,
				T1.USE_YN,
				T1.MENU_ORDER,
				T1.LANGUAGE_CODE,
				(SELECT MAX(MODULE_ID) FROM XBT_BASELINE_EDU_DATE WHERE MENU_CD = T1.MENU_CD) AS MODULE_ID
		FROM XBT_STU_MENU T1 
		WHERE T1.LANGUAGE_CODE =  #{languageCode}
		AND T1.MENU_CD = #{menuCd}		
	</select>		
	
	<!-- 메뉴 등록 -->
	<insert id="insertMenu" parameterType="egovframework.com.adm.system.vo.Menu">
		INSERT	INTO XBT_STU_MENU(
			P_MENU_CD,
			MENU_CD,
			MENU_NAME,
			MENU_URL,
			MENU_LEVEL,
			USE_YN,
			MENU_ORDER,
			LANGUAGE_CODE,
			MODULE_TYPE,
			LEARNING_TYPE,
			INSERT_ID,
			INSERT_DATE
		)VALUES(
			#{pmenuCd}
			,#{menuCd}
			,#{menuName}
			,#{menuUrl}
			,'1'
			,'Y'
			,#{menuOrder}
			,#{languageCode}
			,#{moduleType}
			,#{learningType}
			,#{insertId}
			,now()
		)

	</insert>	
	
	
	<!-- 메뉴 수정 -->
	<update id="updateMenu" parameterType="egovframework.com.adm.system.vo.Menu">	
		UPDATE XBT_STU_MENU
		SET 
			P_MENU_CD = #{pmenuCd}
			, MENU_CD = #{menuCd}
			, MENU_NAME = #{menuName}
			, USE_YN = #{useYn}
			, MENU_ORDER = #{menuOrder}
			, MODULE_TYPE = #{moduleType}
			, LEARNING_TYPE = #{learningType}
			, UPDATE_ID = #{updateId}
			, UPDATE_DATE = now()
		WHERE MENU_CD = #{menuCd}
		AND LANGUAGE_CODE = #{languageCode}

	</update>	
	
	<!-- 메뉴 삭제-->
	<delete id="deleteMenu" parameterType="egovframework.com.adm.system.vo.Menu">
		DELETE FROM XBT_STU_MENU 
		WHERE MENU_CD = #{menuCd}
		AND LANGUAGE_CODE = #{languageCode}
	</delete>	
	
	<!-- 모듈적용메뉴가져오기 -->
	<select id="selectModuleMenuList" parameterType="egovframework.com.adm.system.vo.Menu" resultType="egovframework.com.adm.system.vo.Menu">
		SELECT 
		   '' AS moduleId,
		   '' AS moduleNm,         
		   MENU_CD,
		   MENU_NAME,
		   MODULE_TYPE,
		   LEARNING_TYPE
		FROM XBT_STU_MENU T1
		WHERE LANGUAGE_CODE = 'kr'
		ORDER BY P_MENU_CD, MENU_ORDER ASC
	</select>		
	
	<!-- 모듈적용메뉴가져오기 단건 -->
	<select id="selectModuleMenu" parameterType="egovframework.com.adm.system.vo.Menu" resultType="egovframework.com.adm.system.vo.Menu">
		SELECT 
		   (
		      SELECT MODULE_ID FROM XBT_MODULE_INFO_MASTER T2 WHERE T2.MODULE_ID = #{moduleId}
		   )AS moduleId,
		   (
		      SELECT MODULE_NM FROM XBT_MODULE_INFO_MASTER T2 WHERE T2.MODULE_ID = #{moduleId}
		   )AS moduleNm,          
		   MENU_CD,
		   MENU_NAME,
		   MODULE_TYPE,
		   LEARNING_TYPE
		FROM XBT_STU_MENU T1
		WHERE LANGUAGE_CODE = 'kr'
		AND MENU_CD = #{menuCd}
	</select>		
	
	
	<!-- 평가대상 교육생 목록 -->
	<select id="selectXbtEndingUserList" parameterType="egovframework.com.adm.system.vo.XbtScore" resultType="egovframework.com.adm.system.vo.XbtScore">
		SELECT
			PROC_CD,
			PROC_YEAR,
			PROC_SEQ,
			EDU_CODE,
			EDU_NAME,
			USER_ID,
			USER_NM,
			PROC_NM,
			COMP_NM,
			DEPT_NM,
			GAIN_SCORE,
			PRACTICE_SCORE,
			PRACTICE_YN,
			THEORY_SCORE,
			THEORY_YN,
			EVALUATION_SCORE,
			EVALUATION_YN,
			PASS_YN,
			ENDING_PROCESS_DATE,
			EDU_START_DATE,
			EDU_END_DATE,
			ENDING_YN
		FROM
			XBT_BASELINE_STUDENT_INFO
		WHERE
			ENDING_YN = 'N' OR ENDING_YN = 'ING'
	</select>		
	
	<!-- 이론평가 점수비중 정보 -->
	<select id="selectTheoryScore" parameterType="egovframework.com.adm.system.vo.XbtScore" resultType="egovframework.com.adm.system.vo.XbtScore">
		SELECT USER_ID ,IFNULL(GAIN_SCORE, 0)AS gainScore FROM XBT_BASELINE_THEORY 
		WHERE PROC_CD = #{procCd} AND USER_ID = #{userId} and END_YN = 'Y' ORDER BY TRY_SEQ DESC LIMIT 1
	</select>		
		
	
	<!-- XBT평가 점수비중 정보 -->
	<select id="selectEvaluationScore" parameterType="egovframework.com.adm.system.vo.XbtScore" resultType="egovframework.com.adm.system.vo.XbtScore">
		SELECT USER_ID ,IFNULL(GAIN_SCORE, 0)AS gainScore  FROM XBT_BASELINE_EVALUATION 
		WHERE PROC_CD = #{procCd} AND USER_ID = #{userId} AND END_YN = 'Y' ORDER BY TRY_SEQ DESC LIMIT 1
	</select>	
	
	<!-- 실습 점수비중 정보 -->
	<select id="selectPracticeScore" parameterType="egovframework.com.adm.system.vo.XbtScore" resultType="egovframework.com.adm.system.vo.XbtScore">
		SELECT USER_ID ,IFNULL(PRACTICE_SCORE, 0)AS practiceScore FROM XBT_BASELINE_STUDENT_INFO 
		WHERE PROC_CD = #{procCd} AND USER_ID = #{userId} AND PRACTICE_YN = 'Y' LIMIT 1
	</select>		
	
	<!-- 최종 점수 처리-->
	<update id="updateXbtScore" parameterType="egovframework.com.adm.system.vo.XbtScore">
		<choose>
			<when test='command == "theory"'>
				UPDATE 
					XBT_BASELINE_STUDENT_INFO
				SET 
				THEORY_YN = 'Y',
				THEORY_SCORE = #{theoryScore},
				UPDATE_DATE = now(),
				UPDATE_ID = 'system'
				WHERE PROC_CD = #{procCd} 
				AND USER_ID = #{userId} 
			</when>
			<when test='command == "evaluation"'>
				UPDATE 
					XBT_BASELINE_STUDENT_INFO
				SET 
				EVALUATION_YN = 'Y',
				EVALUATION_SCORE = #{evaluationScore},
				UPDATE_DATE = now(),
				UPDATE_ID = 'system'
				WHERE PROC_CD = #{procCd} 
				AND USER_ID = #{userId} 			
			</when>
		</choose>
	
	</update>	

	<!-- 교육생첨수처리현황 -->
	<select id="selectProcessScore" parameterType="egovframework.com.adm.system.vo.XbtScore" resultType="egovframework.com.adm.system.vo.XbtScore">
		SELECT THEORY_YN, EVALUATION_YN, PRACTICE_YN  FROM XBT_BASELINE_STUDENT_INFO
		WHERE PROC_CD = #{procCd} AND USER_ID = #{userId}
	</select>		
	
	<!-- 최종 점수 처리-->
	<update id="updateXbtEndScore" parameterType="egovframework.com.adm.system.vo.XbtScore">
		UPDATE XBT_BASELINE_STUDENT_INFO SET
		<choose>
			<when test='passYn == "Y"'>
				GAIN_SCORE = #{gainScore},
				ENDING_YN = 'Y',
				PASS_YN = #{passYn},
				ENDING_PROCESS_DATE = now(),			
			</when>
			<when test='passYn == "N"'>
				GAIN_SCORE = #{gainScore},
				ENDING_YN = 'Y',
				PASS_YN = #{passYn},
				ENDING_PROCESS_DATE = null,			
			</when>			
		</choose>		
			UPDATE_DATE = now(),
			UPDATE_ID = 'system'		
		WHERE PROC_CD = #{procCd} AND USER_ID = #{userId}
		
	</update>	
</mapper>